# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the citibike dataset - check that you are able to read in about 40k rows

In [1]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

 
import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
test = '''
SELECT *
FROM citibike
'''

In [3]:
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
10,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
11,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
12,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
13,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
14,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
15,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
16,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
17,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
18,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
19,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
20,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
21,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
22,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
23,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
24,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
25,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
26,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
27,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
28,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
29,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

## Task 1 — Familiarize with SQL Clauses

### 1.1 Sort data by start_station_id, tripduration; Only checking trips with duration <= 3 hours.
### 1.2 Only show the top/last 10 records (aka head and tail in SQL)

In [4]:
# Sort data by start_station_id, checking trips with duration <= 3 hours,  top 10 records.
test_sort1 = '''
SELECT * FROM citibike
WHERE tripduration <= 60*60*3
ORDER BY start_station_id,tripduration
LIMIT 10;
'''

table_sort1 = pd.read_csv(StringIO.StringIO(queryCartoDB(test_sort1 )), sep=',')
table_sort1.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980,2
1,NaN,W 52 St & 11 Ave,NaN,40772,-73.993929,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,40759,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959,2
2,NaN,W 52 St & 11 Ave,NaN,40770,-73.993929,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,40757,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995,1
3,NaN,W 52 St & 11 Ave,NaN,22002,-73.993929,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,21948,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970,1
4,NaN,W 52 St & 11 Ave,NaN,43107,-73.993929,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,43099,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983,1
5,NaN,W 52 St & 11 Ave,NaN,32603,-73.993929,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,32566,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971,1
6,NaN,W 52 St & 11 Ave,NaN,16015,-73.993929,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,15971,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961,1
7,NaN,W 52 St & 11 Ave,NaN,41366,-73.993929,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,41355,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974,1
8,NaN,W 52 St & 11 Ave,NaN,42084,-73.993929,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,42074,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978,1
9,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974,1

In [5]:
# last 10 records.
test_last1 = '''
SELECT * FROM citibike
WHERE tripduration <= 60*60*3
ORDER BY start_station_id desc, tripduration desc
LIMIT 10;
'''

table_last1= pd.read_csv(StringIO.StringIO(queryCartoDB(test_last1)), sep=',')
table_last1.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

In [6]:
# Sort data by tripduration, checking trips with duration <= 3 hours,  top 10 records.
test_sort2 = '''
SELECT * FROM citibike
WHERE tripduration <= 60*60*3
ORDER BY tripduration,start_station_id
LIMIT 10;
'''

table_sort2 = pd.read_csv(StringIO.StringIO(queryCartoDB(test_sort2)), sep=',')
table_sort2.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,Laight St & Hudson St,NaN,19295,-74.007718,60,2015-02-04 18:22:00+00,2015-02-04 18:23:00+00,248,19243,40.721854,248,Laight St & Hudson St,40.721854,-74.007718,20309,Subscriber,1970,1
1,NaN,Mott St & Prince St,NaN,8347,-73.994800,60,2015-02-03 08:07:00+00,2015-02-03 08:08:00+00,251,8284,40.723180,251,Mott St & Prince St,40.723180,-73.994800,19896,Subscriber,1982,1
2,NaN,Division St & Bowery,NaN,14163,-73.997047,60,2015-02-04 08:41:00+00,2015-02-04 08:42:00+00,296,14117,40.714131,296,Division St & Bowery,40.714131,-73.997047,21644,Subscriber,1990,1
3,NaN,E 6 St & Avenue B,NaN,3178,-73.981854,60,2015-02-01 14:34:00+00,2015-02-01 14:35:00+00,317,3110,40.724537,317,E 6 St & Avenue B,40.724537,-73.981854,20572,Subscriber,1985,1
4,NaN,W 31 St & 7 Ave,NaN,7865,-73.991600,60,2015-02-02 21:39:00+00,2015-02-02 21:40:00+00,379,7798,40.749156,379,W 31 St & 7 Ave,40.749156,-73.991600,17643,Subscriber,1986,1
5,NaN,E 5 St & Avenue C,NaN,45697,-73.979955,60,2015-02-07 21:40:00+00,2015-02-07 21:41:00+00,393,45697,40.722992,393,E 5 St & Avenue C,40.722992,-73.979955,21524,Subscriber,1981,1
6,NaN,E 10 St & Avenue A,NaN,38868,-73.981420,60,2015-02-06 20:40:00+00,2015-02-06 20:41:00+00,445,38842,40.727408,445,E 10 St & Avenue A,40.727408,-73.981420,16051,Subscriber,1987,1
7,NaN,W 20 St & 8 Ave,NaN,33793,-74.000040,60,2015-02-06 11:38:00+00,2015-02-06 11:39:00+00,470,33759,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,17448,Subscriber,1979,1
8,NaN,Grand St & Havemeyer St,NaN,11165,-73.956981,60,2015-02-03 18:01:00+00,2015-02-03 18:02:00+00,471,11104,40.712868,471,Grand St & Havemeyer St,40.712868,-73.956981,16340,Subscriber,1980,1
9,NaN,5 Ave & E 29 St,NaN,7364,-73.986831,60,2015-02-02 17:14:00+00,2015-02-02 17:15:00+00,474,7299,40.745168,474,5 Ave & E 29 St,40.745168,-73.986831,20842,Subscriber,1956,1

In [7]:
# last 10 records.
test_last2 = '''
SELECT * FROM citibike
WHERE tripduration <= 60*60*3
ORDER BY tripduration desc
LIMIT 10;
'''

table_last2 = pd.read_csv(StringIO.StringIO(queryCartoDB(test_last2)), sep=',')
table_last2.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,Greenwich Ave & 8 Ave,NaN,41403,-74.002638,10757,2015-02-07 12:17:00+00,2015-02-07 15:16:00+00,284,41392,40.739017,173,Broadway & W 49 St,40.760647,-73.984427,15082,Subscriber,1973,1
1,NaN,W 29 St & 9 Ave,NaN,10975,-73.998393,10660,2015-02-03 17:42:00+00,2015-02-03 20:40:00+00,512,10912,40.750073,435,W 21 St & 6 Ave,40.741740,-73.994156,16099,Subscriber,1950,1
2,NaN,Washington St & Gansevoort St,NaN,40237,-74.008119,10174,2015-02-07 09:31:00+00,2015-02-07 12:20:00+00,405,40221,40.739323,405,Washington St & Gansevoort St,40.739323,-74.008119,21323,Subscriber,1983,1
3,NaN,Centre St & Worth St,NaN,7538,-74.002345,9969,2015-02-02 18:22:00+00,2015-02-02 21:08:00+00,386,7472,40.714948,264,Maiden Ln & Pearl St,40.707065,-74.007319,19921,Subscriber,1987,2
4,NaN,Broadway & W 55 St,NaN,9756,-73.981923,9938,2015-02-03 14:10:00+00,2015-02-03 16:55:00+00,468,9696,40.765265,2023,E 55 St & Lexington Ave,40.759681,-73.970314,19070,Subscriber,1970,1
5,NaN,W 21 St & 6 Ave,NaN,15380,-73.994156,9807,2015-02-04 10:53:00+00,2015-02-04 13:36:00+00,435,15336,40.741740,435,W 21 St & 6 Ave,40.741740,-73.994156,18088,Subscriber,1985,1
6,NaN,Broadway & W 58 St,NaN,25241,-73.981693,9711,2015-02-05 11:12:00+00,2015-02-05 13:54:00+00,457,25203,40.766953,2021,W 45 St & 8 Ave,40.759291,-73.988597,14726,Subscriber,1962,1
7,NaN,Broadway & E 22 St,NaN,19952,-73.989551,9572,2015-02-04 19:09:00+00,2015-02-04 21:48:00+00,402,19897,40.740343,517,Pershing Square South,40.751581,-73.977910,14691,Subscriber,1966,2
8,NaN,Broadway & W 60 St,NaN,7139,-73.981918,9556,2015-02-02 13:25:00+00,2015-02-02 16:05:00+00,499,7073,40.769155,499,Broadway & W 60 St,40.769155,-73.981918,14802,Subscriber,1940,1
9,NaN,DeKalb Ave & Hudson Ave,NaN,11871,-73.981013,9373,2015-02-03 19:25:00+00,2015-02-03 22:01:00+00,324,11810,40.689888,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,15018,Subscriber,1968,1

### 1.3 List all unique start_station_id values;

In [8]:
# list all unique start_station_id

test_unique = '''
SELECT DISTINCT start_station_id FROM citibike
ORDER BY start_station_id;
'''

table_unique = pd.read_csv(StringIO.StringIO(queryCartoDB(test_unique)), sep=',')
table_unique

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

### 1.4 Aggregation functions:Count the number of trips (aka wc -l in SQL) Find the average/min/max trip duration.

In [9]:
test_aggre = '''SELECT COUNT(cartodb_id)count,avg(tripduration),max(tripduration),min(tripduration) FROM citibike 
'''

table_aggre = pd.read_csv(StringIO.StringIO(queryCartoDB(test_aggre)), sep=',')
table_aggre

   count         avg    max  min
0  46200  675.865823  43016   60

## Task 2 — Working with date/time

### 2.1 Selecting trips started on Feb-02-2015 only

In [10]:
test_date = '''SELECT * FROM citibike
            WHERE EXTRACT(DAY FROM starttime::date) = 2 AND
             EXTRACT(MONTH FROM starttime::date) = 2 AND
             EXTRACT(YEAR FROM starttime::date) = 2015; 
'''

table_date  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_date)), sep=',')
table_date.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
5,NaN,W 33 St & 7 Ave,NaN,1037,-73.990931,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,6526,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
6,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
7,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
8,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
9,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2

### 2.2 Selecting trips started on the weekends

In [11]:
test_weekends = '''SELECT * FROM citibike
            WHERE EXTRACT(DOW FROM starttime::date) in (0,6)  ; 
'''

table_weekends  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_weekends)), sep=',')
table_weekends.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,E 20 St & 2 Ave,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,39876,40.735877,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1
6,NaN,Broadway & W 60 St,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,41501,40.769155,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1
7,NaN,E 6 St & Avenue D,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,41585,40.722281,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1
8,NaN,Great Jones St,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,41796,40.727434,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1
9,NaN,W 13 St & 6 Ave,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,42307,40.736494,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1

###  What are average trip duration during weekends?

In [12]:
test_weekends_avg = '''SELECT avg(tripduration) as weekends_avg_duration FROM citibike
            WHERE EXTRACT(DOW FROM starttime::date) in (0,6)  ; 
'''

table_weekends_avg  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_weekends_avg)), sep=',')
table_weekends_avg.head(10)

   weekends_avg_duration  Unnamed: 1
0             662.942181         NaN

### 2.3 Selecting trips started on the weekday.   What are average trip duration during weekends?

In [13]:
test_weekdays = '''SELECT * FROM citibike
            WHERE EXTRACT(DOW FROM starttime::date) in (1,2,3,4,5)  ; 
'''

table_weekdays  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_weekdays)), sep=',')
table_weekdays.head(30)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
3,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
4,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
5,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
6,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
7,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
8,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
9,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
10,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
11,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
12,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
13,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
14,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
15,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
16,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
17,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
18,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
19,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
20,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
21,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
22,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
23,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
24,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
25,NaN,6 Ave & W 33 St,NaN,23425,-73.988484,683,2015-02-05 08:34:00+00,2015-02-05 08:46:00+00,505,23386,40.749013,167,E 39 St & 3 Ave,40.748901,-73.976049,18744,Subscriber,1968.0,1
26,NaN,E 27 St & 1 Ave,NaN,24193,-73.976806,522,2015-02-05 09:14:00+00,2015-02-05 09:23:00+00,2012,24155,40.739445,455,1 Ave & E 44 St,40.750020,-73.969053,21690,Subscriber,1977.0,2
27,NaN,12 Ave & W 40 St,NaN,24660,-74.002777,946,2015-02-05 09:51:00+00,2015-02-05 10:07:00+00,514,24623,40.760875,377,6 Ave & Canal St,40.722438,-74.005664,21248,Subscriber,1991.0,1
28,NaN,W 52 St & 9 Ave,NaN,24831,-73.987895,482,2015-02-05 10:10:00+00,2015-02-05 10:18:00+00,449,24794,40.764618,493,W 45 St & 6 Ave,40.756800,-73.982912,17842,Subscriber,1982.0,1
29,NaN,8 Ave & W 33 St,NaN,25003,-73.993934,592,2015-02-05 10:35:00+00,2015-02-05 10:45:00+00,490,24966,40.751551,484,W 44 St & 5 Ave,40.755003,-73.980144,16056,Subscriber,1962.0,1

In [14]:
test_weekdays_avg = '''SELECT avg(tripduration) as weekdays_avg_duration FROM citibike
            WHERE EXTRACT(DOW FROM starttime::date) in (1,2,3,4,5)  ; 
'''

table_weekdays_avg  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_weekdays_avg)), sep=',')
table_weekdays_avg.head(10)

   weekdays_avg_duration  Unnamed: 1
0             681.052292         NaN

## Task 3 — Working with Space

### 3.1 Showing the list of start station locations Using GROUP BY

In [15]:
test_start = '''SELECT start_station_name, start_station_id,start_station_longitude, start_station_latitude FROM citibike
                GROUP BY start_station_name, start_station_id,start_station_longitude, start_station_latitude; '''


table_start = pd.read_csv(StringIO.StringIO(queryCartoDB(test_start)), sep=',')
table_start

,start_station_name,start_station_id,start_station_longitude,start_station_latitude
0,Spruce St & Nassau St,224,-74.005524,40.711464
1,Clermont Ave & Park Ave,421,-73.971297,40.695734
2,Grand St & Greene St,2010,-74.002347,40.721655
3,9 Ave & W 18 St,434,-74.003664,40.743174
4,MacDougal St & Washington Sq,252,-73.998522,40.732264
5,Sands St & Navy St,2001,-73.979927,40.699773
6,Monroe St & Bedford Ave,344,-73.953809,40.685144
7,Maiden Ln & Pearl St,264,-74.007319,40.707065
8,Rivington St & Chrystie St,473,-73.991925,40.721101
9,Catherine St & Monroe St,2009,-73.996826,40.711174
10,Harrison St & Hudson St,249,-74.009001,40.718710
11,W 42 St & 8 Ave,529,-73.990985,40.757570
12,Warren St & Church St,152,-74.009106,40.714740
13,Vesey Pl & River Terrace,327,-74.016584,40.715338
14,Concord St & Bridge St,278,-73.984764,40.697666
15,E 25 St & 1 Ave,174,-73.977387,40.738177
16,Fulton St & Waverly Ave,384,-73.965964,40.683178
17,E 11 St & 1 Ave,326,-73.984267,40.729538
18,E 6 St & Avenue D,411,-73.976687,40.722281
19,Suffolk St & Stanton St,410,-73.985180,40.720664
20,W 43 St & 6 Ave,524,-73.983169,40.755273
21,Dean St & 4 Ave,467,-73.978951,40.683125
22,Clark St & Henry St,391,-73.993446,40.697601
23,W 56 St & 6 Ave,352,-73.977225,40.763406
24,W 31 St & 7 Ave,379,-73.991600,40.749156
25,Washington Ave & Park Ave,313,-73.967510,40.696102
26,W 37 St & 5 Ave,485,-73.983390,40.750380
27,Front St & Gold St,418,-73.982578,40.702240
28,10 Ave & W 28 St,489,-74.001768,40.750664
29,Metropolitan Ave & Bedford Ave,539,-73.960241,40.715348
...,...,...,...,...
297,E 43 St & Vanderbilt Ave,318,-73.977987,40.753202
298,Flushing Ave & Carlton Ave,242,-73.973503,40.697883
299,Lafayette Ave & St James Pl,399,-73.964763,40.688515
300,Cadman Plaza E & Red Cross Pl,321,-73.989718,40.699918
301,E 47 St & Park Ave,359,-73.974987,40.755103
302,E 3 St & 1 Ave,428,-73.987834,40.724677
303,Division St & Bowery,296,-73.997047,40.714131
304,Broadway & W 32 St,498,-73.988084,40.748549
305,Broadway & W 51 St,500,-73.983362,40.762288
306,Atlantic Ave & Furman St,398,-73.999979,40.691652
307,St Marks Pl & 2 Ave,236,-73.987140,40.728419
308,Henry St & Poplar St,407,-73.991454,40.700469
309,DeKalb Ave & Skillman St,409,-73.956431,40.690649
310,Broad St & Bridge St,260,-74.011678,40.703652
311,Barclay St & Church St,417,-74.010202,40.712912
312,E 10 St & Avenue A,445,-73.981420,40.727408
313,E 56 St & 3 Ave,464,-73.967597,40.759345
314,E 20 St & Park Ave,503,-73.987520,40.738274
315,FDR Drive & E 35 St,501,-73.971212,40.744219
316,W 14 St & The High Line,225,-74.008030,40.741951
317,Cherry St,332,-73.979481,40.712199
318,Columbia St & Rivington St,342,-73.980166,40.717400
319,West Thames St,363,-74.017134,40.708347
320,Hicks St & Montague St,406,-73.995951,40.695128
321,Broadway & E 22 St,402,-73.989551,40.740343
322,W 43 St & 10 Ave,515,-73.994618,40.760094
323,W 20 St & 11 Ave,459,-74.007756,40.746745
324,Little West St & 1 Pl,2008,-74.016777,40.705693
325,9 Ave & W 45 St,479,-73.991255,40.760193
326,W 22 St & 8 Ave,453,-73.999154,40.744751

### 3.2 Showing the number of trips started per station

In [16]:
test_number_of_trips = '''SELECT start_station_id, start_station_name, COUNT(cartodb_id) as number_of_trips FROM citibike 
GROUP BY start_station_id,start_station_name
'''

table_number_of_trips  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_number_of_trips)), sep=',')
table_number_of_trips

     start_station_id               start_station_name  number_of_trips
0                 257          Lispenard St & Broadway              123
1                 453                  W 22 St & 8 Ave              218
2                 291       Madison St & Montgomery St              108
3                 387          Centre St & Chambers St              159
4                 364      Lafayette Ave & Classon Ave               13
5                 354          Emerson Pl & Myrtle Ave               30
6                 491             E 24 St & Park Ave S              288
7                 355            Bayard St & Baxter St              136
8                 146             Hudson St & Reade St              101
9                 279             Peck Slip & Front St               89
10                533               Broadway & W 39 St              196
11                353       S Portland Ave & Hanson Pl               29
12                237                  E 11 St & 2 Ave              228
13                447                  8 Ave & W 52 St              133
14                383       Greenwich Ave & Charles St              142
15                415        Pearl St & Hanover Square               97
16                411                E 6 St & Avenue D               86
17                324          DeKalb Ave & Hudson Ave               96
18                311           Norfolk St & Broome St               83
19                496                  E 16 St & 5 Ave              250
20                167                  E 39 St & 3 Ave              254
21                367          E 53 St & Lexington Ave              103
22                479                  9 Ave & W 45 St              189
23                514                 12 Ave & W 40 St               91
24                493                  W 45 St & 6 Ave              141
25                321    Cadman Plaza E & Red Cross Pl               18
26                442                  W 27 St & 7 Ave              320
27                305                  E 58 St & 3 Ave              213
28                152            Warren St & Church St               71
29                216  Columbia Heights & Cranberry St               12
..                ...                              ...              ...
297               460               S 4 St & Wythe Ave               34
298              2010             Grand St & Greene St               76
299               438              St Marks Pl & 1 Ave              156
300               410          Suffolk St & Stanton St              215
301              2006           Central Park S & 6 Ave               79
302               339               Avenue D & E 12 St               19
303               266                Avenue D & E 8 St               38
304               529                  W 42 St & 8 Ave              221
305               336      Sullivan St & Washington Sq              168
306               489                 10 Ave & W 28 St              203
307               328          Watts St & Greenwich St               73
308               232      Cadman Plaza E & Tillary St               22
309               120      Lexington Ave & Classon Ave               17
310               195            Liberty St & Broadway              137
311               236              St Marks Pl & 2 Ave              254
312               470                  W 20 St & 8 Ave              173
313               511               E 14 St & Avenue B              279
314               301                E 2 St & Avenue B              199
315               362               Broadway & W 37 St               98
316               480                 W 53 St & 10 Ave               81
317               270          Adelphi St & Myrtle Ave               92
318               309              Murray St & West St               76
319               373     Willoughby Ave & Walworth St               27
320               537          Lexington Ave & E 24 St              372
321               399      Lafayette Ave & St James Pl               32
322               384          Fulton St & Waverly Ave               55
323               296             Division St & Bowery              167
324               420     Clermont Ave & Lafayette Ave               25
325               524                  W 43 St & 6 Ave              112
326               471          Grand St & Havemeyer St               32

[327 rows x 3 columns]

### only for stations within 500m of Time Square!

In [17]:
test_time_squre = '''

SELECT start_station_id, start_station_name,COUNT(cartodb_id) as number_of_trips, (ACOS( SIN(RADIANS(40.7577)) * SIN(RADIANS(citibike.start_station_latitude)) 
                       + COS(RADIANS(40.7577)) * COS(RADIANS(citibike.start_station_latitude)) * 
                       COS(RADIANS(citibike.start_station_longitude) - RADIANS(-73.9857)) ) * 6371000) AS distance_to_Time_Squre 
FROM citibike
WHERE (((ACOS( SIN(RADIANS(40.7577)) * SIN(RADIANS(citibike.start_station_latitude)) +
              COS(RADIANS(40.7577)) * COS(RADIANS(citibike.start_station_latitude)) * 
              COS(RADIANS(citibike.start_station_longitude) - RADIANS(-73.9857)) ) * 6371000) <= 500) OR 
                  (citibike.start_station_latitude = 40.7577 AND citibike.start_station_longitude = -73.9857))
GROUP BY start_station_id,start_station_name,start_station_latitude,start_station_longitude
'''


table_time_squre  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_time_squre)), sep=',')
table_time_squre

#reference of converting radius to meters: 
# https://trustconverter.com/en/length-conversion/earth-radius/earth-radius-to-meters.html?value=1
# https://gist.github.com/robotmay/851250

,start_station_id,start_station_name,number_of_trips,distance_to_time_squre
0,529,W 42 St & 8 Ave,221,445.384344
1,524,W 43 St & 6 Ave,112,343.889748
2,173,Broadway & W 49 St,213,344.774968
3,477,W 41 St & 8 Ave,507,391.789889
4,2021,W 45 St & 8 Ave,141,301.371950
5,465,Broadway & W 41 St,251,294.634477
6,493,W 45 St & 6 Ave,141,255.295438

## Task 4 — Putting it all together

### Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!

In [18]:
test_time_squre2 = '''

SELECT start_station_id, start_station_name, COUNT(cartodb_id)as number_of_trips, avg(tripduration) as weekends_avg_duration
FROM citibike
WHERE EXTRACT(DOW FROM starttime::date) in (0,6) AND
(((ACOS( SIN(RADIANS(40.7577)) * SIN(RADIANS(citibike.start_station_latitude)) +
              COS(RADIANS(40.7577)) * COS(RADIANS(citibike.start_station_latitude)) * 
              COS(RADIANS(citibike.start_station_longitude) - RADIANS(-73.9857)) ) * 6371000) <= 500) OR 
                  (citibike.start_station_latitude = 40.7577 AND citibike.start_station_longitude = -73.9857))

GROUP BY start_station_id,start_station_name,start_station_latitude,start_station_longitude
ORDER BY weekends_avg_duration DESC
Limit 1
'''
table_time_squre2  = pd.read_csv(StringIO.StringIO(queryCartoDB(test_time_squre2)), sep=',')
table_time_squre2

,start_station_id,start_station_name,number_of_trips,weekends_avg_duration
0,173,Broadway & W 49 St,48,1010.104167

### Extra: create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. The number of trips per each pair of stations are output as attributes of these lines.

In [19]:
extra = '''

SELECT start_station_name, end_station_name, COUNT(cartodb_id)as number_of_trips FROM citibike
WHERE tripduration <2*60*60 AND
(((ACOS( SIN(RADIANS(40.7577)) * SIN(RADIANS(citibike.start_station_latitude)) +
              COS(RADIANS(40.7577)) * COS(RADIANS(citibike.start_station_latitude)) * 
              COS(RADIANS(citibike.start_station_longitude) - RADIANS(-73.9857)) ) * 6371000) <= 500) OR 
                  (citibike.start_station_latitude = 40.7577 AND citibike.start_station_longitude = -73.9857))

GROUP BY start_station_name, end_station_name
'''
table_extra  = pd.read_csv(StringIO.StringIO(queryCartoDB(extra)), sep=',')
table_extra

     start_station_name              end_station_name  number_of_trips
0       W 42 St & 8 Ave              W 34 St & 11 Ave                2
1       W 41 St & 8 Ave              W 56 St & 10 Ave                5
2    Broadway & W 41 St               W 31 St & 7 Ave                2
3    Broadway & W 49 St         E 48 St & Madison Ave               13
4       W 41 St & 8 Ave               E 33 St & 5 Ave                4
5       W 41 St & 8 Ave            Broadway & W 24 St                4
6       W 42 St & 8 Ave               9 Ave & W 18 St                2
7    Broadway & W 49 St               9 Ave & W 22 St                1
8    Broadway & W 49 St            Broadway & E 22 St                2
9       W 42 St & 8 Ave               W 25 St & 6 Ave                2
10      W 43 St & 6 Ave       E 37 St & Lexington Ave                4
11   Broadway & W 41 St               E 25 St & 1 Ave                3
12      W 45 St & 6 Ave         Pershing Square North                1
13   Broadway & W 41 St        Forsyth St & Broome St                3
14      W 41 St & 8 Ave      Lafayette St & Jersey St                1
15   Broadway & W 41 St            E 20 St & Park Ave                1
16      W 41 St & 8 Ave          Front St & Maiden Ln                1
17      W 45 St & 6 Ave               E 47 St & 2 Ave                1
18   Broadway & W 41 St         Pershing Square North                3
19      W 43 St & 6 Ave           E 59 St & Sutton Pl                2
20   Broadway & W 41 St               W 44 St & 5 Ave                1
21      W 45 St & 6 Ave               E 25 St & 1 Ave                1
22      W 41 St & 8 Ave                E 4 St & 2 Ave                2
23   Broadway & W 49 St               W 39 St & 9 Ave                2
24      W 42 St & 8 Ave            Broadway & W 32 St                1
25      W 45 St & 8 Ave               W 45 St & 8 Ave                7
26   Broadway & W 41 St               E 10 St & 5 Ave                1
27      W 42 St & 8 Ave     Bond St & Schermerhorn St                1
28      W 45 St & 6 Ave               W 31 St & 7 Ave                3
29      W 41 St & 8 Ave            Broadway & W 53 St                1
..                  ...                           ...              ...
542     W 45 St & 6 Ave               W 51 St & 6 Ave                1
543  Broadway & W 41 St              W 26 St & 10 Ave                1
544  Broadway & W 41 St       E 53 St & Lexington Ave                1
545     W 45 St & 8 Ave            Broadway & W 60 St                2
546  Broadway & W 41 St            Broadway & E 22 St                4
547  Broadway & W 41 St               9 Ave & W 22 St                5
548     W 42 St & 8 Ave               W 42 St & 8 Ave                5
549  Broadway & W 41 St      Washington Pl & Broadway                1
550     W 41 St & 8 Ave               9 Ave & W 45 St                2
551  Broadway & W 49 St               E 47 St & 2 Ave                4
552     W 42 St & 8 Ave               E 39 St & 3 Ave                1
553     W 41 St & 8 Ave               E 45 St & 3 Ave               10
554     W 45 St & 8 Ave               W 21 St & 6 Ave                1
555     W 45 St & 6 Ave               W 39 St & 9 Ave                2
556  Broadway & W 41 St               W 20 St & 7 Ave                3
557     W 42 St & 8 Ave               6 Ave & W 33 St                3
558  Broadway & W 49 St               W 44 St & 5 Ave                7
559     W 42 St & 8 Ave               W 49 St & 8 Ave                4
560     W 43 St & 6 Ave  Bialystoker Pl & Delancey St                1
561  Broadway & W 41 St               W 39 St & 9 Ave                2
562     W 43 St & 6 Ave               8 Ave & W 52 St                1
563     W 45 St & 6 Ave         E 48 St & Madison Ave                1
564  Broadway & W 41 St            E 10 St & Avenue A                4
565  Broadway & W 49 St               E 47 St & 1 Ave                1
566     W 41 St & 8 Ave          E 30 St & Park Ave S                8
567  Broadway & W 41 St       Suffolk St & Stanton St                1
568     W 45 St & 8 Ave               E 31 St & 3 Ave                1
569  Broadway & W 41 St               W 51 St & 6 Ave                2
570     W 43 St & 6 Ave      E 43 St & Vanderbilt Ave               14
571     W 45 St & 6 Ave       E 53 St & Lexington Ave                1

[572 rows x 3 columns]